<?xml version="1.0"?>
<connectionStrings>
  <add name="POSFdat"     connectionString="Data Source=192.168.1.233;Initial Catalog=POSFdat;Integrated Security=true" providerName="System.Data.SqlClient" />
  <add name="LoadTestData" connectionString="Data Source=(local);Initial Catalog=LoadTestData;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>
