<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension="g.cs" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ include file="MapHelper.tt" #>
<#@ import namespace="System.Text.RegularExpressions" #>
using System;
using System.Linq;
using YumaPos.Shared.API.Enums;

<#
    MapHelper.MapExtensionNameSpace = "YumaPos.Tests.Load.Client.Logic";
    MapHelper.MapExtensionClassName = "MapExtensions"; 
    MapHelper.MapAttribute = "Map";
    MapHelper.MapIgnoreAttribute = "MapIgnore";
    MapHelper.DtoSuffix = "Dto";    
    MapHelper.DoProjects.Add("YumaPos.Tests.Load.Client.Data");
    MapHelper.DtoProjects.Add("YumaPos.Tests.Load.Infrastructure");
	MapHelper.DOSkipAttribute=false;
	MapHelper.DTOSkipAttribute=false;

    GenerateMap(MapHelper);
#>