<?xml version="1.0" encoding="utf-8"?>

<!-- Configuration NLOG logger-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace"
      internalLogToConsole="true">
  <targets>

    <!-- Save logs to file for test logger
    -->
    <target name ="file" xsi:type="File" filename="${basedir}/Logs/${shortdate}/ServiceLog.log" />
    <!-- Print log to console-->
    <!--
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${message} ${exception:maxInnerExceptionLevel=100:format=Message:innerFormat=Message}" />
    -->
  </targets>

  <!-- Logger's rules -->
  <rules>
    <!-- Save logs to file for test logger
    -->
    <logger name="*" minlevel="trace" appendTo="file"/>

    <!-- Print log to console-->
    <!--
    <logger name="*" minlevel="trace" writeTo="console" />
    -->
  </rules>

</nlog>