@using System.Data
@model DataTable
@{
    Layout = "../Shared/_Layout.cshtml";
}
<style type="text/css">
    table, th, td {
        border: 1px black solid;
        border-collapse: collapse;
        padding: 3px;
    }
</style>
<h2>@ViewBag.Title</h2>
<table >
    <tr>
        @foreach (DataColumn col in Model.Columns)
        {
            <th>@col.ColumnName</th>
        }

    </tr>
    @foreach (DataRow row in Model.Rows)
    {
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {
                <td>@row[col.ColumnName]</td>
            }
        </tr>
    }
</table>